@import './base/base';
@import './base/variables';
@import './base/mixins';
@import './fonts.css';

body {
    font-family: $main_font;
}

.header {
    height: 700px;
    background-image: url(../images/Background_Header1_Large.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: $header_text_color;
    animation-name: change_background;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-play-state: $animation_state;
    animation-timing-function: ease-in-out;

    &_top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &_logo {
            font-size: 20px;
            font-weight: 700;
            line-height: 24.38px;
            margin: 46px 0 0 17.22%;
        }

        &_menu {
            font-size: 14px;
            font-weight: 400;
            line-height: 17.07px;
            margin: 40px 20.21% 0 0;

            &_button {
                text-align: center;
                line-height: 38px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: space-between;
                flex-wrap: wrap;

                &_login,
                &_signup {
                    width: 90px;
                    height: 36px;
                    border: 1px solid transparent;
                    border-width: 2px;
                    border-radius: 40px;

                    &_link {
                        text-decoration: none;
                        color: $header_text_color;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                &_login:hover,
                &_signup:hover {
                    border: 1px solid white;
                    border-width: 2px;
                    font-weight: 600;
                }
            }
        }
    }

    &_text1 {
        margin: 223.5px 33.68% 0 33.68%;
        font-size: 52px;
        font-weight: 700;
        line-height: 63.39px;
        text-align: center;
    }

    &_text2 {
        margin: 28.5px 36.25% 0 36.25%;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 24.5px;
        text-align: center;
    }

    &_button {
        width: 225px;
        height: 40px;
        border-radius: 40px;
        background-color: #FF4E50;
        font-size: 14px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        margin: 33px auto 0;

        &_link {
            color: white;
            text-decoration: none;
        }
    }

    &_button:hover {
        background-color: #eb1317;
        cursor: pointer;
    }
}

@keyframes change_background {
    0% {
        background-image: url(../images/Background_Header1_Large.png);
    }

    16.66% {
        background-image: url(../images/Background_Header2_Large.png);
    }

    33.33% {
        background-image: url(../images/Background_Header3_Large.png);
    }

    50% {
        background-image: url(../images/Background_Header4_Large.png);
    }

    66.66% {
        background-image: url(../images/Background_Header5_Large.png);
    }

    83.33% {
        background-image: url(../images/Background_Header6_Large.png);
    }

    100% {
        background-image: url(../images/Background_Header1_Large.png);
    }
}

.steps {
    height: 461px;
    margin: 95px 17.36% 0 17.35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    &_text {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.69px;
    }

    &_image {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;

        &_1,
        &_2,
        &_3 {
            width: 31.91%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-between;
            color: white;
        }

        &_1_button,
        &_2_button,
        &_3_button {
            width: 70px;
            height: 20px;
            border-radius: 40px;
            background-color: #FF4E50;
            font-size: 10px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }

        &_1_text1,
        &_2_text1,
        &_3_text1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
        }

        &_1_text2,
        &_2_text2,
        &_3_text2 {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
        }

        &_1 {
            margin: 0 10px 0 0;
            background-image: url(../images/Step1_Large.png);

            &_button {
                margin: 219px 10% 0 8.33%;
            }

            &_text1 {
                margin: 15px 10% 0 8.33%;
            }

            &_text2 {
                margin: 10px 0 0 8.33%;
            }
        }

        &_2 {
            margin: 0 10px 10px 0;
            background-image: url(../images/Step2_Large.png);

            &_button {
                margin: 250px 0 0 8.33%;
            }

            &_text1 {
                margin: 14px 10% 0 8.33%;
            }

            &_text2 {
                margin: 9px 10% 0 8.33%;
            }
        }

        &_3 {
            margin: 0 0 10px 0;
            background-image: url(../images/Step3_Large.png);

            &_button {
                margin: 219px 0 0 8.33%;
            }

            &_text1 {
                margin: 15px 10% 0 8.33%;
            }

            &_text2 {
                margin: 10px 10% 0 8.33%;
            }
        }
    }
}

.partners {
    height: 361px;
    margin: 95px 17.36% 0 17.35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &_text {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.69px;
        text-align: center;
        margin: 0 auto 0;
    }

    &_persons {
        width: 100%;
        height: 253px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        flex-wrap: nowrap;

        &_left {
            width: 50%;
            height: 224px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;

            &_1,
            &_2 {
                width: 50%;
                height: 100%;
                margin: 0 19px 0 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            &_1_name,
            &_2_name {
                font-size: 14px;
                font-weight: 700;
                line-height: 17.07px;
            }

            &_1_facts,
            &_2_facts {
                margin: 12px auto 19px;
                font-family: 'Roboto', serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
                text-align: center;
            }
        }

        &_right {
            width: 50%;
            height: 224px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            flex-wrap: nowrap;

            &_1,
            &_2 {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            &_1 {
                margin: 0 19px 0 0;
            }

            &_1_name,
            &_2_name {
                font-size: 14px;
                font-weight: 700;
                line-height: 17.07px;
            }

            &_1_facts,
            &_2_facts {
                margin: 12px auto 0;
                font-family: 'Roboto', serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 14px;
                text-align: center;
            }
        }
    }

    &_button {
        width: 180px;
        height: 40px;
        border-radius: 40px;
        border: 2px solid #FF4E50;
        font-size: 14px;
        font-weight: 700;
        line-height: 41px;
        text-align: center;
        color: #FF4E50;
        margin: 36px auto 0;
    }

    &_button:hover {
        background-color: #fff8f8;
        cursor: pointer;
    }
}

.ideas {
    height: 1039px;
    margin: 95px 17.36% 0 17.35%;

    &_text {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.69px;
        text-align: center;
        margin: 0 auto 0;
    }

    &_images {
        margin: 35px 0 0 0;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 310px 310px 310px;
        gap: 20px 20px;
        place-items: stretch stretch;
        place-content: stretch stretch;

        &_1 {
            @include ideas_grid(1, 2, 1, 2);
            @include ideas_image(url(../images/Ideas1_Large.png));
        }

        &_2 {
            @include ideas_grid(2, 3, 1, 2);
            @include ideas_image(url(../images/Ideas2_Large.png));
        }

        &_3 {
            @include ideas_grid(3, 4, 1, 2);
            @include ideas_image(url(../images/Ideas3_Large.png));
        }

        &_4 {
            @include ideas_grid(1, 2, 2, 3);
            @include ideas_image(url(../images/Ideas4_Large.png));
        }

        &_5 {
            @include ideas_grid(2, 4, 2, 3);
            @include ideas_image(url(../images/Ideas5_Large.png));
        }

        &_6 {
            @include ideas_grid(1, 3, 3, 4);
            @include ideas_image(url(../images/Ideas6_Large.png));
        }

        &_7 {
            @include ideas_grid(3, 4, 3, 4);
            @include ideas_image(url(../images/Ideas7_Large.png));
        }
    }
}

.interests {
    height: 158px;
    margin: 95px auto 0;

    &_text1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.69px;
        text-align: center;
        margin: 0 auto 0;
    }

    &_text2 {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 14px;
        text-align: center;
        margin: 48px auto 0;
    }

    &_form {
        width: 482px;
        height: 40px;
        margin: 25px auto 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        &_input {
            width: 299px;
            height: 36px;
            padding: 0;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 300;
            line-height: 16.41px;
            padding-left: 10px;
        }

        &_button {
            width: 172.12px;
            height: 40px;
            border-radius: 40px;
            border-color: #FF4E50;
            background-color: #FF4E50;
            border-width: 0;
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            color: white;
            margin: 0 0 0 10px;
            padding: 0;
        }

        &_button:hover {
            background-color: #eb1317;
            cursor: pointer;
        }
    }
}

.footer{
    &_line{
        border-color: #FF4E50;
        margin-top: 100px;
    }

    &_cellar{
        width: 100%;
        height: 224px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &_1{
            margin-top: 38px;
            color: #FF4E50;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
        }

        &_2{
            margin-top: 40px;
            font-size: 14px;
            font-weight: 700;
            line-height: 17.07px;

            &_list{
                margin-top: 10px;
                font-family: 'Roboto';
                font-weight: 300;
                line-height: 26px;
                color: #999999;

                &_link{
                    text-decoration: none;
                }
            }
        }

        &_3{
            margin-top: 40px;
            font-size: 14px;
            font-weight: 700;
            line-height: 17.07px;
        }

        &_4{
            margin-top: 40px;
            color: #CCCCCC;
            font-size: 10px;
            font-weight: 700;
            line-height: 12.19px;

            &_text{
                text-align: right;
            }

            &_sign{
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 1410px) {

    .header {

        &_text1 {
            margin: 223.5px 30% 0 30%;
        }

        &_text2 {
            margin: 28.5px 24.23% 0 24.23%;
        }
    }
}

@media screen and (max-width: 1150px) {

    .header_text1 {
        margin: 223.5px 25% 0 25%;
    }

    .steps {
        margin: 95px 11% 0 11%;
    }

    .ideas {
        margin: 95px 11% 0 11%;
    }
}

@media screen and (max-width: 950px) {

    .header_text1 {
        margin: 223.5px 23% 0 23%;
    }

    .partners {
        margin: 95px 10% 0 10%;
    }

    .ideas {
        margin: 95px 10% 0 10%;
    }
}

@media screen and (max-width: 860px) {

    .header_text1 {
        margin: 223.5px 21.0% 0 21.0%;
    }

    .steps {
        margin: 95px 5% 0 5%;
    }

    .ideas {
        margin: 95px 5% 0 5%;
    }
}

@media screen and (max-width: 790px) {

    .header {
        background-image: url(../images/Background_Header1_Medium.png);

        &_top {
            &_logo {
                margin: 46px 0 0 6.86%;
            }

            &_menu {
                margin: 40px 7.14% 0 0;
            }
        }

        &_text1 {
            margin: 223.5px 19.4% 0 19.4%;
        }

        &_text2 {
            margin: 28.5px 24.23% 0 24.23%;
        }
    }

    @keyframes change_background {
        0% {
            background-image: url(../images/Background_Header1_Medium.png);
        }

        16.66% {
            background-image: url(../images/Background_Header2_Medium.png);
        }

        33.33% {
            background-image: url(../images/Background_Header3_Medium.png);
        }

        50% {
            background-image: url(../images/Background_Header4_Medium.png);
        }

        66.66% {
            background-image: url(../images/Background_Header5_Medium.png);
        }

        83.33% {
            background-image: url(../images/Background_Header6_Medium.png);
        }

        100% {
            background-image: url(../images/Background_Header1_Medium.png);
        }
    }

    .steps {
        margin: 95px 1.34% 0 1.34%;

        &_text {
            font-size: 22px;
            line-height: 26.82px;
        }

        &_image {

            &_1 {
                background-image: url(../images/Step1_Medium.png);
            }

            &_2 {
                background-image: url(../images/Step2_Medium.png);
            }

            &_3 {
                background-image: url(../images/Step3_Medium.png);
            }

            &_1_text1,
            &_2_text1,
            &_3_text1 {
                line-height: 14px;
            }
        }
    }

    .partners {
        height: 605px;
        margin: 95px 18% 0 18%;

        &_text {
            font-size: 22px;
            line-height: 26.82px;
        }

        &_persons {
            height: 499px;

            &_left {
                width: 100%;
                height: 464px;
                margin: 35px 20px 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                flex-wrap: nowrap;

                &_1,
                &_2 {
                    width: 100%;
                    margin: 0 auto 0;
                }

                &_1 {
                    margin: 0 0 35px 0;
                }

                &_1_facts,
                &_2_facts {
                    margin: 12px auto 0;
                }
            }

            &_right {
                width: 100%;
                height: 464px;
                margin: 35px 0 0 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
                flex-wrap: nowrap;

                &_1,
                &_2 {
                    width: 100%;
                    margin: 0 auto 0;
                }

                &_1 {
                    margin: 0 0 35px 0;
                }
            }
        }

        &_button {
            margin: 38px auto 0;
        }
    }

    .ideas {
        margin: 95px 1.3% 0 1.3%;

        &_text {
            font-size: 22px;
            font-weight: 700;
            line-height: 26.82px;
        }

        &_images {

            &_1 {
                @include ideas_grid(1, 2, 1, 2);
                @include ideas_image(url(../images/Ideas1_Medium.png));
            }

            &_2 {
                @include ideas_grid(2, 3, 1, 2);
                @include ideas_image(url(../images/Ideas2_Medium.png));
            }

            &_3 {
                @include ideas_grid(3, 4, 1, 2);
                @include ideas_image(url(../images/Ideas3_Medium.png));
            }

            &_4 {
                @include ideas_grid(1, 2, 2, 3);
                @include ideas_image(url(../images/Ideas4_Medium.png));
            }

            &_5 {
                @include ideas_grid(2, 4, 2, 3);
                @include ideas_image(url(../images/Ideas5_Medium.png));
            }

            &_6 {
                @include ideas_grid(1, 3, 3, 4);
                @include ideas_image(url(../images/Ideas6_Medium.png));
            }

            &_7 {
                @include ideas_grid(3, 4, 3, 4);
                @include ideas_image(url(../images/Ideas7_Medium.png));
            }
        }
    }

}

@media screen and (max-width: 750px) {

    .header_text1 {
        margin: 223.5px 13% 0 13%;
    }
}

@media screen and (max-width: 630px) {

    .header_text1 {
        margin: 223.5px 5% 0 5%;
    }

    .partners {
        height: 634px;
    }
}

@media screen and (max-width: 530px) {

    .header_text1 {
        margin: 223.5px 7% 0 7%;
        font-size: 40px;
        line-height: 55px;
    }

    .steps {
        height: 781px;
        margin: 35px 3.33% 0 3.33%;
        flex-direction: row;

        &_text {
            font-size: 21px;
            line-height: 26.82px;
            margin: 0 auto 0;
        }

        &_image {
            width: 100%;
            height: 755px;
            flex-wrap: wrap;

            &_1,
            &_2,
            &_3 {
                width: 100%;
                height: 240px;
            }

            &_1 {
                margin: 15px auto 5px;
                background-image: url(../images/Step1_Small.png);

                &_button {
                    margin: 64px 0 0 8.33%;
                }

                &_text1 {
                    margin: 18px 10% 0 8.33%;
                }

                &_text2 {
                    margin: 10px 10% 0 8.33%;
                }
            }

            &_2 {
                margin: 5px auto 5px;
                background-image: url(../images/Step2_Small.png);

                &_button {
                    margin: 95px 0 0 8.33%;
                }

                &_text1 {
                    margin: 17px 10% 0 8.33%;
                }

                &_text2 {
                    margin: 9px 0 10% 8.33%;
                }
            }

            &_3 {
                margin: 5px auto 0;
                background-image: url(../images/Step3_Small.png);

                &_button {
                    margin: 64px 0 0 8.33%;
                }

                &_text1 {
                    margin: 15px 10% 0 8.33%;
                }

                &_text2 {
                    margin: 10px 10% 0 8.33%;
                }
            }
        }
    }

    .interests {
        height: 209px;

        &_form {
            width: 299px;
            height: 90px;
            margin: 25px auto 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            align-items: center;

            &_button {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 430px) {

    .header {
        height: 540px;
        background-image: url(../images/Background_Header1_Small.png);

        &_top {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            &_logo {
                margin: 97px auto 0;
            }

            &_menu {
                margin: 20px auto 0;
            }
        }

        &_text1 {
            font-size: 30px;
            line-height: 36.57px;
            margin: 26.5px 7.5% 0 7.5%;
        }

        &_text2 {
            font-size: 18px;
            line-height: 24.5px;
            margin: 5.5px 6.25% 0 6.25%;
        }

        &_button {
            width: 280px;
            margin: 15px auto 0;
        }
    }

    @keyframes change_background {
        0% {
            background-image: url(../images/Background_Header1_Small.png);
        }

        16.66% {
            background-image: url(../images/Background_Header2_Small.png);
        }

        33.33% {
            background-image: url(../images/Background_Header3_Small.png);
        }

        50% {
            background-image: url(../images/Background_Header4_Small.png);
        }

        66.66% {
            background-image: url(../images/Background_Header5_Small.png);
        }

        83.33% {
            background-image: url(../images/Background_Header6_Small.png);
        }

        100% {
            background-image: url(../images/Background_Header1_Small.png);
        }
    }

    .partners {
        height: 1031px;
        margin: 36px 3.125% 0 3.125%;

        &_persons {
            height: 887px;

            margin: 0 10% 0 10%;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: nowrap;


            &_left {
                margin: 0 auto 0;

                &_1 {
                    height: 205px;
                    margin: 14px 0 16px 0;
                }

                &_2 {
                    height: 224px;
                    margin: 0 0 16px 0;
                }
            }

            &_right {
                margin: 0 auto 0;

                &_1,
                &_2 {
                    height: 205px;
                }

                &_1 {
                    margin: 0 0 16px 0;
                }
            }
        }

        &_button {
            width: 280px;
            margin: 36px auto 0;
        }
    }

    .ideas {
        height: 987px;
        margin: 35px 3.125% 0 3.125%;

        &_images {
            width: 100%;
            margin: 33px 0 0 0;
            height: 900px;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            gap: 10px;

            &_1,
            &_2,
            &_3,
            &_4,
            &_5,
            &_6,
            &_7 {
                width: 100%;
                height: 120px;
            }

            &_1 {
                @include ideas_image(url(../images/Ideas1_Small.png));
            }

            &_2 {
                @include ideas_image(url(../images/Ideas2_Small.png));
            }

            &_3 {
                @include ideas_image(url(../images/Ideas3_Small.png));
            }

            &_4 {
                @include ideas_image(url(../images/Ideas4_Small.png));
            }

            &_5 {
                @include ideas_image(url(../images/Ideas5_Small.png));
            }

            &_6 {
                @include ideas_image(url(../images/Ideas6_Small.png));
            }

            &_7 {
                @include ideas_image(url(../images/Ideas7_Small.png));
            }
        }
    }

    .interests {
        height: 192px;
        margin: 35px auto 0;

        &_text1 {
            font-size: 22px;
            line-height: 26.82px;
            padding: 0 15.58% 0 15.58%;
        }

        &_text2 {
            margin: 19px auto 0;
        }

        &_form {
            width: 280px;
            height: 90px;
            margin: 15px auto 0;

            &_input {
                width: 100%;
            }

            &_button {
                width: 100%;
            }
        }
    }

    .footer{
        &_line{
            border-color: #FF4E50;
            margin-top: 100px;
        }
    
        &_cellar{
            width: 100%;
            height: 226px;
            flex-direction: column;
            justify-content: space-evenly;
    
            &_1{
                margin: 21px auto 0;
            }
    
            &_2{
                margin: 13px auto 0;

                &_text{
                    text-align: center;
                }
    
                &_list{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 1px 10% 0 10%;

                    &_link{
                        margin: 0 10px 0 10px;
                    }
                }
            }
    
            &_3{
                margin: 6px auto 0;
            }
    
            &_4{
                margin: 14px auto 0;
    
                &_text{
                    text-align: center;
                }
    
                &_sign{
                    margin: 7px auto 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 290px) {

    .header {

        &_button {
            width: 95%;
        }
    }

    .partners {

        &_button {
            width: 95%;
        }
    }

    .interests {
        &_form {
            width: 95%;
        }
    }
}